  .cartItem{
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */
    font-size: 1.1rem;
    color: #0f172a;
  }
  .cartItem div{
    text-align: center;
    width: 20rem;
  }
  .cartItem div:nth-child(4){
    width: 5rem;
    color: red;
  }
  .cartItem div:nth-child(1){
    width: 30rem;
  }