.container{
    background-color: #0f172a;
    width: 100%;
    color: #e2e8f0;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}
.container-section{
    display: flex;
    width: 45%;
    justify-content: space-between;

}
.cart-cred{
    font-size: 2rem;
}
.cart-cred span{
    border: 2px solid red;
    font-size: 1rem;
    padding: 0.2rem;
    color: red;
    border-radius: 20px;
    margin-top: -10px;
    position: fixed;
    font-weight: bolder;

}
.links {
    color: #e2e8f0;
    text-decoration: none;
}
.links:hover, .active{
    border-bottom: 2px solid #94a3b8;
}
@media only screen and (max-width: 600px) {
   .container-section{
    width: 80%;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
   }
   .cart-cred{
    font-size: 0.8rem;
    margin-left: 1.5rem;
   }
   .cart-cred span{
    font-size: 0.5rem;
   }
  }
  /* @media only screen and (max-width: 1000px ) {
    .container-section{
     width: 80%;
     font-size: 1.2rem;
     padding: 0.7rem 1.5rem;
    }
    .cart-cred{
     font-size: 1.2rem;
    }
   } */
